.header {
    width: 100%;
    min-width: 100%;
    height: 90px;
    position: fixed;
    top: 0px;
    left: 0;
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    box-shadow: 0px 1px 5px -2px;
    z-index: 1000;
}

.content {
    margin-top: 100px;
}

img {
    margin-right: 10px;
}

.leftSide {
    background-color: white;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightSide {
    background-color: rgb(50, 37, 238);
    width: 70%;
    padding-left: 10px;
    color: white;
    align-items: center;
}

.par {    
    margin-top: 10;
}

.orange {
    margin: 5px;
    padding: 5px;
    background-color:#F2C94C;
    border-radius: 5px;
}


.firstname {
    display: block;
    width: 362px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #B8B8B8;
    box-sizing: border-box;
    background: #F4ECEC;
}
.lastname {
    display: block;
    width: 362px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #B8B8B8;
    box-sizing: border-box;
    background: #F4ECEC;
}

input {
    margin-top: 10px;
}

.cb {
    width: 24px;
    height: 27px;
    margin-top: 10px;
}

button {
    display: block;
    margin-top: 10px;
    background-color: #0052D0;
    color: white;
    width: 362px;
    height: 45px;
    border-radius: 5px;    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    border: 1px solid #B8B8B8;
    box-sizing: border-box;
}

.reg {
    margin: 10px;
    margin-top: 30px;
}

label {
    margin-top: 15px;
}

.number {
    color: white;
    text-decoration: none;
}

.number:hover {
    color: yellow;
}

::-webkit-input-placeholder {
    text-align:center;
    }
    
    :-moz-placeholder { /* Firefox 18- */
       text-align:center;  
    }
    
    ::-moz-placeholder {  /* Firefox 19+ */
       text-align:center;  
    }
    
    :-ms-input-placeholder {  
       text-align:center; 
    }